.App {
  height: 100vh;
  color: black;
}
.link {
  color: black !important;
}
.smaller {
  height: 90%;
}
.appear {
  animation-duration: 2s;
  animation-name: appear;
  animation-direction: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
