html, body {
  font-size: 16px;
}

.App {
  height: 100vh;
  color: black;
}
.link {
  color: black !important;
}
.smaller {
  height: 90%;
}
.appear {
  animation-duration: 2s;
  animation-name: appear;
  animation-direction: forwards;
}

.nav {
  color: white;
  background-color: #001f3f;
}


.nav a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: color 0.2s linear;
}

.nav a.selected {
  color: #7fdbff;
}

.nav a:hover {
  color: #7fdbff;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
